<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
            <title>{% block title %}{% endblock %}</title>
            <style type="text/css">
                body { padding: 10px; }
            </style>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>