{% extends layout_template  %}

{% block title %}Email confirmation sent{% endblock %}

{% block content %}

    <h1>Thank you!</h1>

    <p>An email has been sent to you at <strong>{{ email }}</strong>.</p>

    <p>Please click the link in that message to activate your account.</p>

{% endblock %}
